<div class="sysfeerie begin-action action">
    <h2>
        {{Action.name}}
    </h2>

    <div class="action-params">
        {{#if IsOpposition}}
            <h3>{{localize 'SYSFEERIE.Chat.CharacterScore'}} {{CharacterScore}}</h3>
            <h3>{{localize 'SYSFEERIE.Chat.OpponentScore'}} {{OpponentScore}}</h3>
            <h3 title="{{localize 'SYSFEERIE.Dialog.Difficulty'}}: {{Difficulty}}, {{localize 'SYSFEERIE.Dialog.Significance'}}: {{Significance}}">{{localize 'SYSFEERIE.Chat.Difficulty'}} {{TotalDifficulty}}</h3>
            <h3>{{localize 'SYSFEERIE.Chat.OpponentDifficulty'}} {{OpponentDifficulty}}</h3>
        {{else}}{{#if IsSimpleOppostion}}
            <h3>{{localize 'SYSFEERIE.Chat.CharacterScore'}} {{CharacterScore}}</h3>
            <h3 title="{{localize 'SYSFEERIE.Dialog.OpponentRating'}}: {{OpponentScore}}, {{localize 'SYSFEERIE.Dialog.Significance'}}: {{Significance}}">{{localize 'SYSFEERIE.Chat.Difficulty'}} {{TotalDifficulty}}</h3>
        {{else}}
            <h3>{{localize 'SYSFEERIE.Chat.CharacterScore'}} {{CharacterScore}}</h3>
            <h3 title="{{localize 'SYSFEERIE.Dialog.Difficulty'}}: {{Difficulty}}, {{localize 'SYSFEERIE.Dialog.Significance'}}: {{Significance}}">{{localize 'SYSFEERIE.Chat.Difficulty'}} {{TotalDifficulty}}</h3>
        {{/if}}{{/if}}
    </div>

    {{#each Items as |Item Slot|}}
        <div class="action-skill" data-slot="{{Slot}}">
            <div class="skill-container" style="display:{{Item.DisplayItem}}">
                <img src="{{Item.img}}" title="{{Item.name}}" width="32" height="32" />
                <span class="skill-name" title="{{Item.name}}">{{Item.name}}</span>
                <span class="skill-value">{{Item.value}}</span>
                <span class="skill-actor-name" title="{{Item.actorName}}">({{Item.actorName}})</span>
                <a class="skill-remove" data-slot="{{Slot}}" title="{{localize 'SYSFEERIE.Item.Remove'}}">
                    {{#if Unresolved}}
                    <i class="fas fa-times"></i>
                    {{/if}}
                </a>
            </div>
            <div class="skill-placeholder" style="display:{{Item.Placeholder}}">
                {{localize 'SYSFEERIE.Chat.SelectASkill'}}
            </div>
        </div>
    {{/each}}

    {{#if NeedRelevance}}
        <div class="action-relevance">
        {{#if Unresolved}}
            <label class="label" for="selectElementRelevance">{{localize 'SYSFEERIE.Chat.Relevance'}}</label>
            <select class="selectRelevance" name="selectElementRelevance">
                {{selectOptions Relevances selected=FirstItemRelevance localize=true}}
            </select>
        {{else}}
            <span class="label">{{localize 'SYSFEERIE.Chat.Relevance'}}</span>
            <span class="value">{{FirstItemRelevanceText}}</span>
        {{/if}}
        </div>
    {{/if}}

    {{#if Unresolved}}
    <div class="action-buttons">
        <button name="startAction" class="startAction" data-action="{{Action.id}}" data-difficulty="{{TotalDifficulty}}" data-score="{{CharacterScore}}" data-is-opposition="{{IsOpposition}}" data-opponent-difficulty="{{OpponentDifficulty}}" data-opponent-score="{{OpponentScore}}" ><i class="fas checkMark fa-question-circle"></i> {{localize 'SYSFEERIE.Chat.StartRoll'}}</button>
        <button name="approveSkills" class="approveSkills">{{localize 'SYSFEERIE.Chat.GMOk'}}</button>
    </div>
    {{/if}}
</div>