{{#if img}}
<div class="postItem postItem_withImage" data-transfer="{{transfer}}">
	<img src="{{img}}" title="{{name}}" />
	<div>
		<h2>{{name}}</h2>
		<div class="card-data">
			<strong>{{localize "SYSFEERIE.Item.Value"}} :</strong> {{value}} {{#if categoryName}}<em>({{categoryName}})</em>{{/if}}
		</div>
		<p><strong>{{categoryLevel}}</strong>{{categoryDescription}}</p>
	</div>
</div>
{{else}}
<div class="postItem" data-transfer="{{transfer}}">
	<h2>{{name}}</h2>
	<div class="card-data">
		<strong>{{localize "SYSFEERIE.Item.Value"}} :</strong> {{value}} {{#if categoryName}}<em>({{categoryName}})</em>{{/if}}
	</div>
	<p><strong>{{categoryLevel}}</strong>{{categoryDescription}}</p>
</div>
{{/if}}
