<div class="sysfeerie resolve-action action">
    <h2>
        {{localize 'SYSFEERIE.Chat.ResolveAction'}}
    </h2>
    {{#if HasRoll}}
    <div class="resolve-action-roll-container">
        {{#each Dice as |die i|}}
        <div class="resolve-action-roll {{die.class}}"><span>{{die.value}}</span></div>
        {{/each}}
    </div>
    {{/if}}
    <div class="resolve-action-result {{ClassActionResult}}">{{{TextActionResult}}}</div>
    <div class="resolve-action-score">{{localize 'SYSFEERIE.Chat.ScoreToBeat'}} <span class="resolve-action-score-value">{{Threshold}}</span></div>
    {{#if HasRoll}}
        {{#if SuccessBased}}
            <div class="resolve-action-dice-success">{{localize 'SYSFEERIE.Chat.SuccessCount'}} <span class="resolve-action-dice-success-value">{{RollResult}}</span></div>
        {{else}}
            <div class="resolve-action-dice-success">{{localize 'SYSFEERIE.Chat.DiceResultScore'}} <span class="resolve-action-dice-success-value">{{RollResult}}</span></div>
            <div class="resolve-action-dice-success" title="{{localize 'SYSFEERIE.Chat.DiceResultRange'}} {{SuccessRange}}">{{localize 'SYSFEERIE.Chat.DiceResultQuality'}} <span class="resolve-action-dice-success-value">{{SuccessQuality}}</span></div>
        {{/if}}
    {{/if}}
    {{#if AutoFailure}}
    <div class="resolve-action-dice-success">{{localize 'SYSFEERIE.Chat.AutoFail'}}</div>
    {{/if}}
    {{#if AutoSuccess}}
    <div class="resolve-action-dice-success">{{localize 'SYSFEERIE.Chat.AutoSuccess'}}</div>
    {{/if}}
</div>