<div>
	<label for="actionDialog_action">{{localize "SYSFEERIE.Dialog.SelectAction"}}</label>
	<select id="actionDialog_action_select" name="actionDialog_action">
		{{selectOptions ActionsTypes selected=DefaultAction}}
	</select>
</div>

{{#each Actions as |Action index|}}
<div id="action_{{Action.id}}" class="actionDialog_action{{#if Action.selected}} actionDialog_action_selected{{/if}}">
	<h2>{{localize 'SYSFEERIE.Dialog.SelectDifficulty'}}</h2>
	<div class="dialog-buttons actionDialog_difficulty">
		{{#each Action.difficulties as |Difficulty index|}}
			<button class="actionDialog_button" data-button="{{Difficulty.level}}" title="{{Difficulty.description}}">
				<i class="{{Difficulty.icon}}"></i>
				{{Difficulty.name}}
				<div class="bonus">{{formatNumber Difficulty.level decimals=2 sign=true}}</div>
			</button>
		{{/each}}
	</div>
	<h2>{{localize 'SYSFEERIE.Dialog.SelectDifficultyMod'}}</h2>
	<div class="dialog-buttons actionDialog_difficultyMod">
		{{#each Action.difficultyMods as |difficultyMod index|}}
			<button class="actionDialog_button" data-button="{{difficultyMod.level}}" title="{{difficultyMod.description}}">
				<i class="{{difficultyMod.icon}}"></i>
				{{difficultyMod.name}}
				<div class="bonus">{{formatNumber difficultyMod.level decimals=2 sign=true}}</div>
			</button>
		{{/each}}
	</div>
</div>
{{/each}}

<div class="actionDialog_summary">
	<div class="actionDialog_summary_difficulty">
		<div class="actionDialog_description actionDialog_description_difficulty">
			{{localize 'SYSFEERIE.Dialog.Difficulty'}}
		</div>
		<input type="number" name="actionDialog_difficulty" value="{{DefaultDifficulty}}" class="actionDialog_value_difficulty" />
	</div>
	<div class="actionDialog_summary_difficultyMod">
		<div class="actionDialog_description actionDialog_description_difficultyMod">
			{{localize 'SYSFEERIE.Dialog.DifficultyMod'}}
		</div>
		<input type="number" name="actionDialog_difficultyMod" value="{{DefaultDifficultyMod}}" class="actionDialog_value_difficultyMod" />
	</div>
</div>