<div>
	<label for="actionDialog_action">{{localize "SYSFEERIE.Dialog.SelectAction"}}</label>
	<select id="actionDialog_action_select" name="actionDialog_action">
		{{selectOptions ActionsTypes selected=DefaultAction}}
	</select>
</div>

{{#each Actions as |Action index|}}
<div id="action_{{Action.id}}" class="actionDialog_action{{#if Action.selected}} actionDialog_action_selected{{/if}}">
	<h2>{{localize 'SYSFEERIE.Dialog.SelectDifficulty'}}</h2>
	<div class="dialog-buttons actionDialog_difficulty">
		{{#each Action.difficulties as |Difficulty index|}}
			<button class="actionDialog_button" data-button="{{Difficulty.level}}" title="{{Difficulty.description}}">
				<i class="{{Difficulty.icon}}"></i>
				{{Difficulty.name}}
				<div class="bonus">{{formatNumber Difficulty.level decimals=2 sign=true}}</div>
			</button>
		{{/each}}
	</div>
	<h2>{{localize 'SYSFEERIE.Dialog.SelectSignificance'}}</h2>
	<div class="dialog-buttons actionDialog_significance">
		{{#each Action.significances as |Significance index|}}
			<button class="actionDialog_button" data-button="{{Significance.level}}" title="{{Significance.description}}">
				<i class="{{Significance.icon}}"></i>
				{{Significance.name}}
				<div class="bonus">{{formatNumber Significance.level decimals=2 sign=true}}</div>
			</button>
		{{/each}}
	</div>
</div>
{{/each}}

<div class="actionDialog_summary">
	<div class="actionDialog_summary_difficulty">
		<div class="actionDialog_description actionDialog_description_difficulty">
			{{localize 'SYSFEERIE.Dialog.Difficulty'}}
		</div>
		<input type="number" name="actionDialog_difficulty" value="{{DefaultDifficulty}}" class="actionDialog_value_difficulty" />
	</div>
	<div class="actionDialog_summary_dignifiance">
		<div class="actionDialog_description actionDialog_description_dignifiance">
			{{localize 'SYSFEERIE.Dialog.Significance'}}
		</div>
		<input type="number" name="actionDialog_significance" value="{{DefaultSignificance}}" class="actionDialog_value_significance" />
	</div>
</div>