<form class="categorySetting_form">
<div class="categorySetting_content">
	<h1>
		<a class="categorySetting_addButton" title="{{localize 'SYSFEERIE.Status.Add'}}"><i class="fas fa-plus"></i></a>
		Category Settings
	</h1>
	{{#each categories as |category categoryId|}}
	<div class="categorySetting_category {{#if category.enabled}}categorySetting_category_enabled{{else}}categorySetting_category_disabled{{/if}}">
		<h2>
			{{#if category.enabled}}
				<a class="categorySetting_disableCategory" title="{{localize 'SYSFEERIE.Status.Disable'}}" data-id="{{categoryId}}"><i class="fas fa-times"></i></a>
			{{else}}
				<a class="categorySetting_enableCategory" title="{{localize 'SYSFEERIE.Status.Enable'}}" data-id="{{categoryId}}"><i class="fas fa-check"></i></a>
			{{/if}}
			{{#if category.default}}
			{{else}}
				<a class="categorySetting_deleteCategory" title="{{localize 'SYSFEERIE.Status.Delete'}}" data-id="{{categoryId}}"><i class="fas fa-trash"></i></a>
			{{/if}}
			<span>{{category.name}}</span>
		</h2>
		<input class="categorySetting categorySetting_id" name="data.{{categoryId}}.id" placeholder="ID_CATEGORY" value="{{category.id}}" readonly/>
		<input class="categorySetting categorySetting_name" name="data.{{categoryId}}.name" placeholder="Category name" value="{{category.name}}"/>
		<input class="categorySetting categorySetting_short" name="data.{{categoryId}}.short" placeholder="Category abreviation" value="{{category.short}}"/>
		<input class="categorySetting categorySetting_description" name="data.{{categoryId}}.description" placeholder="Category description" value="{{category.description}}"/>
		<div class="categorySetting_levels">
			{{#each category.levels as |level index|}}
				<label class="categorySetting_levelLabel">{{index}} : </label><input class="categorySetting_levelDescription" name="data.{{categoryId}}.levels.{{index}}" placeholder="Description for level {{index}}" value="{{level}}"/>
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>
<button class="categorySetting_saveButton" type="submit">Save</button>
</form>
