<h1>{{localize "SYSFEERIE.CharPointsHtml.Title"}}</h1>
<p>{{localize "SYSFEERIE.CharPointsHtml.Intro"}}</p>

<p>{{localize "SYSFEERIE.CharPointsHtml.MinorChanges"}}</p>
<ul>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MinorChangesDescribe"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MinorChangesCosmeticChange"}}</li>
</ul>

<p>{{localize "SYSFEERIE.CharPointsHtml.MajorChanges"}}</p>
<ul>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesAddEffect"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesRemoveEffect"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesLinkElement"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesAddElement"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesFlashback"}}</li>
	<li>{{localize "SYSFEERIE.CharPointsHtml.MajorChangesUnforseenEvent"}}</li>
</ul>
