<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="main">{{localize 'SYSFEERIE.Char.Tab.Main'}}</a>
		<a class="item" data-tab="elements">{{localize 'SYSFEERIE.Char.Tab.Elements'}}</a>
		<a class="item" data-tab="plots">{{localize 'SYSFEERIE.Char.Tab.Plots'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Main Tab --}}
		<div class="tab tab_main charMain" data-group="primary" data-tab="main">
			<div class="charMain_left">
				<h1 class="charName">
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SYSFEERIE.Char.Name'}}" />
					<a class="charInformations_addButton" title="{{localize 'SYSFEERIE.Information.Add'}}"><i class="fas fa-plus"></i></a>
				</h1>
				{{#each data.system.informations as |information id|}}
				<div class="item information" data-item-id="{{information.id}}">
					<label for="informations.{{information.id}}.value">{{information.name}}</label>
					<div class="item-controls">
						<a class="item-control item-edit" title="{{localize 'SYSFEERIE.Item.Edit'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="{{localize 'SYSFEERIE.Item.Delete'}}"><i class="fas fa-trash"></i></a>
					</div>
					<input class="charInformations_information_value" type="text" name="informations.{{information.id}}.value" value="{{information.system.value}}"/>
				</div>
				{{/each}}
				<h2>
					<a class="charDesc_editButton" title="{{SYSFEERIE.Char.EditDescription}}"><i class="fas fa-edit"></i></a>
					<a class="charDesc_extractButton" title="{{SYSFEERIE.Char.ExtractElement}}"><i class="fas fa-puzzle-piece"></i></a>
					{{localize 'SYSFEERIE.Char.Description'}}
				</h2>
				<div class="charDesc">{{{data.system.fullDescription}}}</div>
				<textarea class="charDescEdit" name="data.description" rows="15">{{data.system.description}}</textarea>
			</div>
			<div class="charMain_right">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				<h2>
					<a class="charRessources_addButton" title="{{localize 'SYSFEERIE.Ressource.Add'}}"><i class="fas fa-plus"></i></a>
					{{localize 'SYSFEERIE.Char.Ressources'}}
				</h2>
				{{#each data.system.ressources as |ressource id|}}
				<li class="item ressource" data-item-id="{{ressource.id}}">
					<span class="ressource-name item-name" title="{{ressource.name}} ({{localize 'SYSFEERIE.Char.TooltipPoints'}})"><span>{{ressource.name}} </span>
					{{#if (eq "0" ressource.system.max)}}
						<span class="charRessources_ressource_value">({{ressource.system.value}})</span>
					{{else}}
						<span class="charRessources_ressource_value">({{ressource.system.value}}/{{ressource.system.max}})</span>
					{{/if}}
					</span>
					<div class="item-controls">
						<a class="item-control item-post" title="{{localize 'SYSFEERIE.Item.PostChat'}}"><i class="fas fa-comment"></i></a>
						<a class="item-control item-edit" title="{{localize 'SYSFEERIE.Item.Edit'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="{{localize 'SYSFEERIE.Item.Delete'}}"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
				<h2>
					<a class="charStatus_addButton" title="{{localize 'SYSFEERIE.Status.Add'}}"><i class="fas fa-plus"></i></a>
					{{localize 'SYSFEERIE.Char.Status'}}
				</h2>
				{{#each data.system.status as |element id|}}
				<li class="item status" data-item-id="{{element.id}}">
					<span class="element-name item-name" title="{{element.name}}">{{element.name}} ({{element.system.value}})</span>
					<div class="item-controls">
						<a class="item-control item-post" title="{{localize 'SYSFEERIE.Item.PostChat'}}"><i class="fas fa-comment"></i></a>
						<a class="item-control item-edit" title="{{localize 'SYSFEERIE.Item.Edit'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="{{localize 'SYSFEERIE.Item.Delete'}}"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</div>
		</div>

		{{!-- elements --}}
		<div class="tab tab_elements" data-group="primary" data-tab="elements">
			<h1>
				<a class="charElement_addButton" title="{{localize 'SYSFEERIE.Item.Add'}}"><i class="fas fa-plus"></i></a>
				{{localize 'SYSFEERIE.Char.Tab.Elements'}}
			</h1>
			<div class="elements-left row-flex">
			{{#each data.system.sortedElements as |elements id|}}
				<h2>{{category id}}</h2>
				{{#each elements as |element idx|}}
					<li class="item flexrow" data-item-id="{{element.id}}">
						<img src="{{element.img}}" title="{{element.name}}" width="24" height="24" />
						<span class="element-name item-name" title="{{element.name}}">{{element.name}} ({{element.system.value}})</span>
						<div class="item-controls">
							<a class="item-control item-post" title="{{localize 'SYSFEERIE.Item.PostChat'}}"><i class="fas fa-comment"></i></a>
							<a class="item-control item-edit" title="{{localize 'SYSFEERIE.Item.Edit'}}"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="{{localize 'SYSFEERIE.Item.Delete'}}"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/each}}
			{{/each}}
			</div>
		</div>

		{{!-- Chronicles --}}
		<div class="tab tab_plots" data-group="primary" data-tab="plots">
			<div class="row-flex">
				<h1>
					<a class="charPlot_addButton" title="{{localize 'SYSFEERIE.Plot.Add'}}"><i class="fas fa-plus"></i></a>
					{{localize 'SYSFEERIE.Char.Tab.Plots'}}
				</h1>
				{{#each data.system.plots as |plot id|}}
				<li class="item flexrow plot item-edit" data-item-id="{{plot.id}}">
					<img src="{{plot.img}}" title="{{plot.name}}" width="24" height="24" />
					<span class="plot-name" title="{{plot.name}}">{{plot.name}} : {{plot.system.rewardName}} ({{plot.system.rewardValue}})</span>
					<span class="plot-value">
						
						{{#if (eq plot.system.steps.length plot.system.stepNumber)}}
							{{localize 'SYSFEERIE.Plot.Completed'}}&nbsp;({{plot.system.steps.length}}/{{plot.system.stepNumber}})
						{{else}}
							{{plot.system.steps.length}}/{{plot.system.stepNumber}}
						{{/if}}
					</span>
					<div class="item-controls">
						<a class="item-control plot-delete" title="{{localize 'SYSFEERIE.Item.Delete'}}"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</div>
		</div>
	</section>
</form>