<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{data.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">{{item.name}}</h1>
		</div>
	</header>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab active plot-tab" data-group="primary" data-tab="description">
			<h2>{{localize "SYSFEERIE.Plot.Reward"}}</h2>
			<div>
				<label for="data.rewardName">{{localize "SYSFEERIE.Plot.RewardElement"}}</label>
				<input type="text" data-dtype="String" name="data.rewardName" value="{{data.data.rewardName}}" />
			</div>
			<div>
				<label for="data.rewardCategory">{{localize "SYSFEERIE.Item.Category"}}</label>
				<select name="data.rewardCategory">
					{{selectOptions categories selected=data.data.rewardCategory}}
				</select>
			</div>
			<div>
				<label for="data.rewardValue">{{localize "SYSFEERIE.Item.Value"}}</label>
				<select name="data.rewardValue">
					{{selectOptions levels selected=data.data.rewardValue}}
				</select>
			</div>
			<h2>{{localize "SYSFEERIE.Plot.Goal"}}</h2>
			<div>
				<label for="name">{{localize "SYSFEERIE.Plot.Goal"}}</label>
				<input type="text" data-dtype="String" name="name" value="{{item.name}}" />
			</div>

			<h2>{{localize "SYSFEERIE.Plot.Steps"}}</h2>
			<div>
				<label for="data.stepNumber">{{localize "SYSFEERIE.Plot.StepsNumber"}}</label>
				<input type="text" data-dtype="Number" name="data.stepNumber" value="{{data.data.stepNumber}}" />
			</div>
			<div>
				{{#if (ne data.data.steps.length 0)}}
					<label>{{localize "SYSFEERIE.Plot.FinishedSteps"}}</label>
				{{/if}}
				{{#each data.data.steps as |step id|}}
				<li class="plotStep flexrow plot item-edit" data-item-id="{{plot.id}}">
					<span>{{step}}</span>
					<div class="item-controls">
						<a class="item-control plotStep_delete" title="{{localize "SYSFEERIE.Item.Delete"}}" data-step-id="{{id}}"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</div>
			{{#if incomplet}}
			<div>
				<label for="data.currentStep">{{localize "SYSFEERIE.Plot.CurrentStep"}}</label>
				<input type="text" data-dtype="String" name="data.currentStep" value="{{data.data.currentStep}}" />
			</div>
			<button class="plotStep_Finish">{{localize "SYSFEERIE.Plot.FinishStep"}}</button>
			{{/if}}
		</div>
	</section>
</form>