<form class="{{cssClass}} {{item.type}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">{{item.name}}</h1>
		</div>
	</header>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab active plot-tab" data-group="primary" data-tab="description">
			<h2>{{localize "SYSFEERIE.Plot.Reward"}}</h2>
			<div>
				<label for="{{item.id}}.rewardName">{{localize "SYSFEERIE.Plot.RewardElement"}}</label>
				<input type="text" data-dtype="String" id="{{item.id}}.rewardName" name="system.rewardName" value="{{system.rewardName}}" />
			</div>
			<div>
				<label for="system.rewardCategory">{{localize "SYSFEERIE.Item.Category"}}</label>
				<select name="system.rewardCategory">
					{{selectOptions categories selected=system.rewardCategory}}
				</select>
			</div>
			<div>
				<label for="system.rewardValue">{{localize "SYSFEERIE.Item.Value"}}</label>
				<select name="system.rewardValue">
					{{selectOptions levels selected=system.rewardValue}}
				</select>
			</div>
			<h2>{{localize "SYSFEERIE.Plot.Goal"}}</h2>
			<div>
				<label for="name">{{localize "SYSFEERIE.Plot.Goal"}}</label>
				<input type="text" data-dtype="String" name="name" value="{{item.name}}" />
			</div>

			<h2>{{localize "SYSFEERIE.Plot.Steps"}}</h2>
			<div>
				<label for="system.stepNumber">{{localize "SYSFEERIE.Plot.StepsNumber"}}</label>
				<input type="text" data-dtype="Number" name="system.stepNumber" value="{{system.stepNumber}}" />
			</div>
			<div>
				{{#if (ne system.steps.length 0)}}
					<label>{{localize "SYSFEERIE.Plot.FinishedSteps"}}</label>
				{{/if}}
				{{#each system.steps as |step id|}}
				<li class="plotStep flexrow plot item-edit" data-item-id="{{plot.id}}">
					<span>{{step}}</span>
					<div class="item-controls">
						<a class="item-control plotStep_delete" title="{{localize "SYSFEERIE.Item.Delete"}}" data-step-id="{{id}}"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</div>
			{{#if incomplet}}
			<div>
				<label for="system.currentStep">{{localize "SYSFEERIE.Plot.CurrentStep"}}</label>
				<input type="text" data-dtype="String" name="system.currentStep" value="{{system.currentStep}}" />
			</div>
			<button class="plotStep_Finish">{{localize "SYSFEERIE.Plot.FinishStep"}}</button>
			{{/if}}
		</div>
	</section>
</form>